<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="../views/bootstrap-5.0.0-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="../views/bootstrap-5.0.0-dist/js/bootstrap.min.js"> </script>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100 bodyclass">
    <header class="d-flex flex-row align-items-center text-white">
        <h3 class="p-3 mr-auto">Exam Alteration Helper</h3>
    </header>

    <main>
        <div class="aboutclass">
            <h3 class="text-center p-2">
                <strong><u>About The Website</u></strong>
            </h3>
            <div class="description">
                <h4 class="p-2">
                    This is Amritas's Exam Alteration helper website where faculties can exchange their allotted
                    examination slots with other faculties by selecting one of their slots.
                </h4>
            </div>
        </div>
        <div class="abouttclass">
            <div class="d-flex flex-column align-items-center">
                <h3><u><strong>Developers</strong></u></h3>
                <div class="containerr m-4">
                    <img src="./images/viki.jpg" alt="Vignesh" class="image">
                    <div class="overlay">
                        <div class="text">Vignesh H<br>Scrum Master, Frontend Developer<br>BTech CSE @Amrita School of
                            Engineering,<br>Coimbatore<br>Interests: Dance, ML, Frontend Development</div>
                    </div>
                </div>
                <div class="containerr m-4">
                    <img src="./images/aadhith.jpg" alt="Aadhith" class="image">
                    <div class="overlay">
                        <div class="text">Aadhith S<br>Backend Developer<br>BTech CSE @Amrita School of
                            Engineering,<br>Coimbatore<br>Interests: PC Gaming, Backend Development</div>
                    </div>
                </div>
                <div class="containerr m-4">
                    <img src="./images/tharun.jpg" alt="Tharun" class="image">
                    <div class="overlay">
                        <div class="text">Tharun Kumar A<br>Frontend Developer<br>BTech CSE @Amrita School of
                            Engineering,<br>Coimbatore<br>Interests: Web Development, Book Reading</div>
                    </div>
                </div>
                <h3><u><strong>Testers</strong></u></h3>
                <div class="containerr m-4">
                    <img src="./images/dharma.jpg" alt="Dharma" class="image">
                    <div class="overlay">
                        <div class="text">Dharmaraj<br>Tester<br>BTech CSE @Amrita School of
                            Engineering,<br>Coimbatore<br>Interests: Unit Testing, UI Testing</div>
                    </div>
                </div>
                <div class="containerr m-4">
                    <img src="./images/yasasvi.jpg" alt="Yasasvi" class="image">
                    <div class="overlay">
                        <div class="text">Yasasvi<br>Tester<br>BTech CSE @Amrita School of
                            Engineering,<br>Coimbatore<br>Interests: Unit Testing, UI Testing</div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <footer class="mt-auto">
        <div class="d-flex flex-row justify-content-around p-3">
            <div>
                <form action="/faq" method="GET">
                    <button class="btn" id="ftr_btn">FAQ's</button>
                </form>
            </div>
            <div>
                <form action="mailto:cb.en.u4cse18163@cb.students.amrita.edu" method="GET">
                    <button class="btn" id="ftr_btn">Mail Us</button>
                </form>
            </div>
        </div>
    </footer>

    

</body>

</html>