<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Hall Allocation List</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="./bootstrap-5.0.0-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="./bootstrap-5.0.0-dist/js/bootstrap.min.js"> </script>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100 bodyclass">
    <header class="d-flex flex-row align-items-center text-white">
        <h3 class="p-3 mr-auto">Exam Alteration Helper</h3>
        <form action="/admin/logout" method="POST">
            <button class="btn" id="logoutbutton">Logout</button>
        </form>   
    </header>

    <main>
        <h5 class="text-center text-white m-4"><u>Upload the Hall Allocation List</u></h5> 

        <div>
            <form class="hallallocform" action="/admin/upload/hallalloc" method="POST" enctype="multipart/form-data">
                            
                <div class="form-group m-2 p-2">
                    <label class="text-uppercase" for="examname"><strong>Exam Name</strong></label>
                    <select name="examname" id="examname" class="form-control">
                        <option value="periodical1">Periodical 1</option>
                        <option value="periodical2">Periodical 2</option>
                        <option value="endsemester">End Semester</option>
                        <option value="supplementary">Supplementary</option>
                    </select>
                </div>
                <div class="form-group m-2 p-2">
                    <label class="text-uppercase" for="year"><strong>Year</strong></label>
                    <select name="year" id="year" class="form-control">
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                    </select>
                </div>
                <div class="form-group m-2 p-2">
                    <label class="text-uppercase" for="dept"><strong>Department</strong></label>
                    <select name="department" id="department" class="form-control">
                        <option value="cse">CSE</option>
                        <option value="mechanical_engineering">Mechanical Engineering</option>
                        <option value="english">English</option>
                        <option value="mathematics">Mathematics</option>
                    </select>
                </div>

                <div class="text-center m-2 p-2">
                    <input type="file" accept=".csv" id="hallalloc" name="hallalloc">
                </div>

                <div class="text-center form-group m-2 p-2">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </form>
        </div>
    </main>


    <footer class="mt-auto">
        <div class="d-flex flex-row justify-content-around p-3">
            <div>
                <form action="/about" method="GET">
                    <button class="btn" id="ftr_btn">About</button>
                </form>
            </div>
        </div>
    </footer>


</body>

</html>