<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="./bootstrap-5.0.0-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="./bootstrap-5.0.0-dist/js/bootstrap.min.js"> </script>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100 bodyclass">
    <header class="d-flex flex-row align-items-center text-white">
        <h3 class="p-3 mr-auto">Exam Alteration Helper</h3>
        <form action="/faculty/login" method="GET">
            <button class="btn p-1 m-3" id="facultybutton">Faculty Login</button>
        </form>
        <form action="/dean/login" method="GET">
            <button class="btn p-1 m-3" id="deanbutton">Dean Login</button>
        </form>
    </header>

    <main class="mainbody">
        <div class="row rowclass" id="bootstrap-overrides">
            <div class="col-xl-8 carouselclass" id="carouselid">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active firstcarousel">
                            <img class="d-block w-100 h-100" src="./images/anokha.jpg" alt="First slide">
                            <div class="carousel-caption">
                                <h5>ANOKHA 2K21</h5>
                                <p>Biggest Cultural Fest</p>
                                <p>DATES: APRIL 13,14 15</p>
                            </div>
                        </div>
                        <div class="carousel-item secondcarousel">
                            <img class="d-block w-100 h-100" src="./images/hackathon.jpg" alt="Second slide">
                            <div class="carousel-caption ">
                                <h5>Amrita Hackathon 2K21</h5>
                                <p>For Innovative Minds and Ideations</p>
                                <p>DATES: March 1,2</p>
                            </div>
                        </div>
                        <div class="carousel-item thirdcarousel">
                            <img class="d-block w-100 h-100" src="./images/joanna-kosinska-unsplash.jpg" alt="Third slide">
                            <div class="carousel-caption">
                                <h5>Literary Club Opening</h5>
                                <p>Amriteshwari Hall</p>
                                <p>DATE: May 2nd</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 mainform" id="mainform">
                <h3 class="text-left"> Welcome</h3>
                <h5 class="text-center"><u>Admin Login</u></h5>
                <form class="login-form formclass" method="POST" action='/auth'>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="text-uppercase">Username</label>
                        <input type="text" class="form-control" placeholder="" name="username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                        <input type="password" class="form-control" placeholder="" name="password">
                    </div>
                    <button type="submit" class="btn btn-login float-left" name="login_type" value="admin">Submit</button>
                </form>
                <% if (error) { %>
                    <strong><%= error %></strong>
                <% } %>
            </div>
        </div>
    </main>


    <footer class="mt-auto">
        <div class="d-flex flex-row justify-content-around p-3">
            <div>
                <form action="/about" method="GET">
                    <button class="btn" id="ftr_btn">About</button>
                </form>
            </div>
        </div>
    </footer>

    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script> -->

</body>

</html>