<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Alteration Helper</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100 bodyclass">
    <header class="d-flex flex-row align-items-center text-white">
        <h3 class="p-3 mr-auto">Exam Alteration Helper</h3>
        <form action="/facultylogout" method="POST">
            <button class="btn" id="logoutbutton" onclick="myFunction()">Logout</button>
        </form>
        <script>
            function myFunction() {
                alert("You've been Logged out Successfully");
            }
        </script>
        
        <script>
            function myFunction() {
              alert("You've been Logged out Successfully");
            }
        </script>    
    </header>

    <main>
        <h3 class="text-center m-2">Hello Faculty</h3>
        <h5 class="text-center text-white m-4"><u>Edit your Details</u></h5> 

        <div>
            <form class="updateform" action="" method="POST">
                <div class="text-center m-5">
                    <img style="border-radius: 50% ;height:150px; width: 150x;" src="./images/faculty.jpg" class="center" alt="Faculty Image">
                </div>
                <p class="text-center"><strong><u>Change Profile Picture</u></strong></p>
                <div class="text-center">
                    <input type="file" accept=".jpg , .jpeg, .png" id="myfile" name="myfile">
                </div>
                    <div class="form-group m-2 p-2">
                    <label class="text-uppercase" for="email"><strong>Mail</strong></label>
                    <input type="email" id="email" name="email"class="form-control"  placeholder="">
                </div>
                <div class="form-group m-2 p-2">
                    <label class="text-uppercase" for="name"><strong>Name</strong></label>
                    <input type="text" id="name" name="name" class="form-control"  placeholder="">
                </div>
                <div class="form-group m-2 p-2">
                    <label class="text-uppercase" for="phoneno"><strong>Mobile No</strong></label>
                    <input type="text" id="phoneno" name="phoneno"class="form-control"  placeholder="">
                </div>
                <div class="form-group m-2 p-2">
                    <label class="text-uppercase" for="houseno"><strong>House No</strong></label>
                    <input type="text" id="houseno" name="houseno" class="form-control" placeholder="">
                </div>
                <div class="form-group m-2 p-2">
                    <label class="text-uppercase" for="streetname"><strong>Street Name</strong></label>
                    <input type="text" id="streetname" name="streetname"class="form-control"  placeholder="">
                </div>
                <div class="form-group m-2 p-2">
                    <label class="text-uppercase" for="area"><strong>Area</strong></label>
                    <input type="text" id="area" name="area" class="form-control" placeholder="">
                </div>
                <div class="form-group m-2 p-2">
                    <label class="text-uppercase" for="state"><strong>State</strong></label>
                    <select name="state" id="state" class="form-control">
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Assam">Assam</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Chandigarh">Chandigarh</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                        <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                        <option value="Daman and Diu">Daman and Diu</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Lakshadweep">Lakshadweep</option>
                        <option value="Puducherry">Puducherry</option>
                        <option value="Goa">Goa</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Odisha">Odisha</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Telangana">Telangana</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Uttarakhand">Uttarakhand</option>
                        <option value="West Bengal">West Bengal</option>
                    </select>
                </div>
                <div class="form-group m-2 p-2">
                    <label class="text-uppercase" for="city"><strong>City</strong></label>
                    <input type="text" id="city" name="city" class="form-control" placeholder="">
                </div>
                <div class="text-center form-group m-2 p-2">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </form>
        </div>
        <div class="pwdchange text-center">
            <button type="submit" class="btn">Change Password</button>
        </div>
    </main>


    <footer class="mt-auto">
        <div class="d-flex flex-row justify-content-around p-3">
            <div>
                <form action="/faq" method="GET">
                    <button class="btn" id="ftr_btn">FAQ's</button>
                </form>
            </div>
            <div>
                <form action="mailto:cb.en.u4cse18163@cb.students.amrita.edu" method="GET">
                    <button class="btn" id="ftr_btn">Mail Us</button>
                </form>
            </div>
            <div>
                <form action="/about" method="GET">
                    <button class="btn" id="ftr_btn">About</button>
                </form>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>