<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Alteration Helper</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100 bodyclass">
    <header class="d-flex flex-row align-items-center text-white">
        <h3 class="p-3 mr-auto">Exam Alteration Helper</h3>
        <a class="btn text-white p-1 m-3" id="adminbutton" href="adminlogin.html">Admin Login</a>
        <a class="btn text-white p-1 m-3" id="deanbutton" href="deanlogin.html">Dean Login</a>
        <a class="btn text-white p-1 m-3" id="facultybutton" href="login.html">Faculty Login</a>
    </header>

    <main class="forgotform">
        <form action="" method="POST">
            <div class="form-group m-4">
                <label for="exampleInputName1" class="text-uppercase m-1"><strong>Name</strong></label>
                <input type="text" name="name" class="form-control" placeholder="Enter your Name">
            </div>
            <div class="form-group m-4">
                <label for="exampleInputEmail1" class="text-uppercase"><strong>E-mail</strong></label>
                <input type="email" name="email" class="form-control" placeholder="Enter your E-mail">
            </div>
            <button type="submit" class="forgotsubmit btn btn-login float-left">Submit</button>
        </form>
    </main>

    <footer class="mt-auto">
        <div class="d-flex flex-row justify-content-around p-3">
            <div>
                <form action="/faq" method="GET">
                    <button class="btn" id="ftr_btn">FAQ's</button>
                </form>
            </div>
            <div>
                <form action="mailto:cb.en.u4cse18163@cb.students.amrita.edu" method="GET">
                    <button class="btn" id="ftr_btn">Mail Us</button>
                </form>
            </div>
            <div>
                <form action="/about" method="GET">
                    <button class="btn" id="ftr_btn">About</button>
                </form>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>