<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get reset link</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="./bootstrap-5.0.0-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="./bootstrap-5.0.0-dist/js/bootstrap.min.js"> </script>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100 bodyclass">
    <header class="d-flex flex-row align-items-center text-white">
        <h3 class="p-3 mr-auto">Exam Alteration Helper</h3>
        <a class="btn text-white p-1 m-3" id="adminbutton" href="/admin/login">Admin Login</a>
        <a class="btn text-white p-1 m-3" id="deanbutton" href="/dean/login">Dean Login</a>
        <a class="btn text-white p-1 m-3" id="facultybutton" href="/faculty/login">Faculty Login</a>
    </header>

    <main class="forgotform">
        <form action="/forgot/getlink" method="POST">
            <div class="form-group m-4">
                <label for="exampleInputEmail1" class="text-uppercase"><strong>Enter your e-mail</strong></label>
                <input type="email" name="email" class="form-control" placeholder="Enter your e-mail">
            </div>
            <button type="submit" class="forgotsubmit btn btn-login float-left">Submit</button>
        </form>
    </main>

    <footer class="mt-auto">
        <div class="d-flex flex-row justify-content-around p-3">
            <div>
                <form action="/faq" method="GET">
                    <button class="btn" id="ftr_btn">FAQ's</button>
                </form>
            </div>
            <div>
                <form action="mailto:cb.en.u4cse18163@cb.students.amrita.edu" method="GET">
                    <button class="btn" id="ftr_btn">Mail Us</button>
                </form>
            </div>
            <div>
                <form action="/about" method="GET">
                    <button class="btn" id="ftr_btn">About</button>
                </form>
            </div>
        </div>
    </footer>


</body>

</html>