<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="../views/bootstrap-5.0.0-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="../views/bootstrap-5.0.0-dist/js/bootstrap.min.js"> </script>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100 bodyclass">
    <h1 class="animation text-center">
        <div class="anitext">Exam</div> 
        <div class="anitext">Alteration</div>
        <div class="anitext">Helper</div> 
    </h1>
    
    <main>
        <div>
            <h2 class="text-center text-white m-4 slogan">Just a Click away to exchange your exam slots</h2>
        </div>
        <div class="threelogins d-flex flex-column justify-content-between align-items-center">
            <div class="text-center homefaculty">
                <h3 style="margin-top: 80px;" class="text-center">Faculty Login</h3>
                <div class="overlay">
                    <a href="/faculty/login" class="text">Faculties login here for your portal.<br>Alter your exam slots.</a>
                </div>
            </div>

            <div class="text-center homeadmin">
                <h3 style="margin-top: 80px;" class="text-center">Admin Login</h3>
                <div class="overlay">
                    <a href="/admin/login" class="text">Admin login here for your portal.<br>Upload the exam schedule and exam allotments.</a>
                </div>
            </div>

            <div class="text-center homedean">
                <h3 style="margin-top: 80px;" class="text-center">Dean Login</h3>
                <div class="overlay">
                    <a href="/dean/login" class="text">Dean login here for your portal.<br>View the faculty details and monitor the exam.</a>
                </div>
            </div>
        </div>

        <div class="helloani">  
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous"></script>
    <script src="./js/animate.js"></script>

</body>

</html>