<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset your password</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="../views/bootstrap-5.0.0-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="../views/bootstrap-5.0.0-dist/js/bootstrap.min.js"> </script>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100 bodyclass">
    <header class="d-flex flex-row align-items-center text-white">
        <h3 class="p-3 mr-auto">Exam Alteration Helper</h3>
    </header>

    <main class="resetform">
        <form action="/forgot/updatepassword" method="POST">
            <div class="form-group m-4">
                <label for="exampleInputName1" class="text-uppercase m-1"><strong>Enter your New Password</strong></label>
                <input type="password" name="newpass1" class="form-control" placeholder="Enter your new Password" required>
            </div>
            <div class="form-group m-4">
                <label for="exampleInputEmail1" class="text-uppercase"><strong>Confirm your Password</strong></label>
                <input type="password" name="newpass2" class="form-control" placeholder="Re-enter your new password" required>
            </div>
            <button type="submit" class="forgotsubmit btn btn-login float-left" name="email" value="<%= email %>">Submit</button>
        </form>
        
    </main>
    <footer class="mt-auto">
        <div class="d-flex flex-row justify-content-around p-3">
            <div>
                <form action="/faq" method="GET">
                    <button class="btn" id="ftr_btn">FAQ's</button>
                </form>
            </div>
            <div>
                <form action="mailto:cb.en.u4cse18163@cb.students.amrita.edu" method="GET">
                    <button class="btn" id="ftr_btn">Mail Us</button>
                </form>
            </div>
            <div>
                <form action="/about" method="GET">
                    <button class="btn" id="ftr_btn">About</button>
                </form>
            </div>
        </div>
    </footer>


</body>

</html>